@import cinema.controller.Cinema
@import cinema.model.Movie
@import cinema.model.cinema.Room
@import cinema.model.cinema.util.RoomException
@import cinema.model.projection.Projection
@import java.time.YearMonth
@import java.time.format.DateTimeFormatter
@import java.time.format.TextStyle

@args() {
    Cinema cinema
    Movie movie
    Projection projection
    long reservationId
}

@extends(wireframe, cinema=cinema, pageTitle="Acquisto biglietti")

@section(content) {
    <div class="container pt-5">
        <div class="modal fade" id="modal-alert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-alert-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-alert-label"></h5>
                    </div>
                    <div class="modal-body">
                        <div id="modal-alert-component" class="alert d-flex align-items-center my-2" role="alert">
                            <h1 class="my-1 ms-3 me-4">
                                <span id="modal-alert-icon" class="fa"></span>
                            </h1>
                            <div id="modal-alert-body"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="/movie-details?id=@(movie.getId())#" class="btn btn-primary" id="modal-alert-close-button" role="button">
                            Chiudi
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5 pb-4">
            <h3 class="pb-3">
                Scegli il tuo posto in sala
            </h3>
            <h5>
                @(movie.getTitle())
            </h5>
            <h6 class="text-muted">
                Proiezione di @(projection.getDateTime().getDayOfWeek().getDisplayName(TextStyle.FULL, Locale.ITALIAN).capitalizeWords().escape("html")) <strong>@(projection.getDateTime().getDayOfMonth().format("00"))/@(projection.getDateTime().getMonthValue().format("00"))</strong> delle <strong>@(projection.getDateTime().toLocalTime().format("hh:mm"))</strong> (Sala @(projection.getRoom().getProgressive()))
            </h6>
        </div>
        <div class="alert alert-secondary d-flex align-items-center mb-4" role="alert">
            <h1 class="my-3 ms-3 me-4">
                <span class="fa fa-info-circle"></span>
            </h1>
            <div>
                Seleziona uno o pi&ugrave; posti da prenotare tra quelli liberi in sala (poltroncine verdi: <img src="/static/img/seat-available.svg" alt="Posto libero" style="height: 1.5em;">).<br>
                Potrai poi procedere al checkout, acquistando i biglietti che ti saranno spediti via e-mail una volta effettuata la prenotazione.
            </div>
        </div>
        <link rel="prefetch" href="/static/img/seat-selected.svg">
        <div class="d-flex justify-content-center">
            <div style="display: block; overflow-x: auto;">
                <table class="table table-borderless">
                    <tbody>
                        <tr class="p-0 m-0">
                            <th class="p-0 m-0"></th>
                            <th class="pb-2 m-0 text-center" colspan="@(projection.getRoom().getNumberCols())">
                                <img src="/static/img/screen.svg" width="500px" class="img-fluid" alt="Schermo della sala" data-bs-toggle="tooltip" data-placement="top" title="Schermo della sala">
                            </th>
                        </tr>
                        <tr class="p-0 m-0">
                            <th class="p-0 m-0"></th>
                            @for (int j = 1; j <= projection.getRoom().getNumberCols(); j++) {
                                <th class="p-1 m-1 text-center align-middle">
                                    @(j)
                                </th>
                            }
                        </tr>
                        @for (int i = 0; i < projection.getRoom().getNumberRows(); i++) {
                            <tr class="p-0 m-0">
                                <th class="px-2 py-1 m-1 text-center align-middle">
                                    @(Room.rowIndexToRowLetter(i))
                                </th>
                                @for (int j = 0; j < projection.getRoom().getNumberCols(); j++) {
                                    <td class="p-1 m-1 text-center">
                                        @{
                                            String seatIcon = "";
                                            String seatStatus = "";
                                            boolean clickable = false;
                                            try {
                                                if (projection.checkIfSeatIsAvailable(i, j)) {
                                                    seatIcon = "/static/img/seat-available.svg";
                                                    seatStatus = "disponibile";
                                                    clickable = true;
                                                } else {
                                                    seatIcon = "/static/img/seat-unavailable.svg";
                                                    seatStatus = "non disponibile";
                                                }
                                            } catch(RoomException e) {

                                            }
                                        }
                                        <img id="seat-@(i)-@(j)" status="@(seatStatus)" @if(clickable){class="seat"} src="@(seatIcon)" width="45px" alt="Posto @(Room.rowIndexToRowLetter(i))@(j + 1) (@(seatStatus))" data-bs-toggle="tooltip" data-placement="top" title="Posto @(Room.rowIndexToRowLetter(i))@(j + 1) (@(seatStatus))" @if(clickable){style="cursor: pointer;"}>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-end mt-3 mb-5">
            <a class="btn btn-primary disabled" role="button" id="go-to-checkout">
                Procedi all'acquisto dei biglietti
            </a>
        </div>
        <div class="collapse" id="checkout-details">
            <hr class="py-0 mt-0 mb-3">
            <div class="pt-3 pb-4">
                <h3>
                    Dettagli del tuo acquisto
                </h3>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-4 order-md-last pb-4">
                    <h4 class="d-flex align-items-center mb-3">
                        <span class="text-primary">
                            I tuoi biglietti
                        </span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">
                                    Product name
                                </h6>
                                <small class="text-muted">
                                    Brief description
                                </small>
                            </div>
                            <span class="text-muted">
                                12,00 &euro;
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">
                                    Promo code
                                </h6>
                                <small>
                                    EXAMPLECODE
                                </small>
                            </div>
                            <span class="text-success">
                                - 5,00 &euro;
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>
                                Totale (EUR)
                            </span>
                            <strong>
                                7,00 &euro;
                            </strong>
                        </li>
                    </ul>
                    <form id="promo-code-form" action="/apply-promo-code#" method="post" class="card p-2 needs-validation" novalidate>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" placeholder="Codice promozionale" required>
                            <button type="submit" class="btn btn-secondary">
                                Applica
                            </button>
                            <div class="invalid-feedback default-feedback"></div>
                        </div>
                        <div class="invalid-feedback default-feedback"></div>
                    </form>
                </div>
                <div class="col-md-7 col-lg-8">
                    <form id="buy-form" action="/buy#" method="post" class="needs-validation" novalidate>
                        <input type="hidden" id="reservation-id" name="reservation-id" value="@(reservationId)">
                        <div class="row g-3">
                            <h4 class="mb-3">
                                Dati personali
                            </h4>
                            <div class="col-sm-6">
                                <label for="name" class="form-label">
                                    Nome
                                </label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Mario" required>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                            <div class="col-sm-6">
                                <label for="surname" class="form-label">
                                    Cognome
                                </label>
                                <input type="text" class="form-control" id="surname" name="surname" placeholder="Rossi" required>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                            <div class="col-12">
                                <label for="e-mail" class="form-label">
                                    E-mail
                                </label>
                                <input type="email" class="form-control" id="e-mail" name="e-mail" placeholder="mario.rossi@@dominio.com" required>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="row g-3">
                            <h4 class="mt-4 mb-3">
                                Dati di pagamento
                            </h4>
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">
                                    Titolare della carta di credito
                                </label>
                                <input type="text" class="form-control" id="cc-name" name="cc-name" placeholder="Mario Rossi" required>
                                <small class="text-muted">
                                    Nome completo scritto sulla carta
                                </small>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">
                                    Numero della carta di credito
                                </label>
                                <input type="text" class="form-control" id="cc-number" name="cc-number" placeholder="0000 0000 0000 0000" required>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                            <div class="col-md-4">
                                <label for="cc-expiration" class="form-label">
                                    Scadenza
                                </label>
                                <input type="month" class="form-control" id="cc-expiration" name="cc-expiration" min="@(YearMonth.now().toString())" placeholder="2023-01" required>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                            <div class="col-md-2">
                                <label for="cc-cvv" class="form-label">
                                    CVV
                                </label>
                                <input type="text" class="form-control" id="cc-cvv" name="cc-cvv" placeholder="123" required>
                                <div class="invalid-feedback default-feedback"></div>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="form-check py-0 my-4">
                            <input type="checkbox" class="form-check-input" id="agreement" name="agreement" required>
                            <label class="form-check-label" for="agreement">
                                Acconsento al trattamento dei miei dati personali.
                            </label>
                            <div class="invalid-feedback">
                                Il tuo consenso &egrave; obbligatorio
                            </div>
                        </div>
                        <button class="w-100 btn btn-primary btn-lg mt-3 mb-5" type="submit">
                            CONCLUDI L'ACQUISTO
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section(javascript) {
    <script>
        (() => {
            'use strict';

            // Enable tooltips on seat icons
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map((tooltipTriggerEl) => {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });

            // Add the listener used to track the available/selected state to every seat icon
            Array.from(document.getElementsByClassName('seat')).forEach((seat) => {
                seat.addEventListener('click', (event) => {
                    // Toggle the seat status between available and selected
                    if (event.target.status == 'selezionato') {
                        event.target.status = 'disponibile';
                        event.target.src = '/static/img/seat-available.svg';
                    } else {
                        event.target.status = 'selezionato';
                        event.target.src = '/static/img/seat-selected.svg';
                    }

                    var atLeastOneSeatIsSelected = false;
                    // Check if at least one seat is selected
                    Array.from(document.getElementsByClassName('seat')).some((item) => {
                        if (item.status == 'selezionato') {
                            atLeastOneSeatIsSelected = true;
                        }
                        return atLeastOneSeatIsSelected;
                    });

                    // Enable/disable the button used to go to the checkout form based on the number of selected seats
                    if (!atLeastOneSeatIsSelected) {
                        document.getElementById('go-to-checkout').classList.add('disabled');
                        document.getElementById('go-to-checkout').classList.remove('invisible');

                        // If there are no seats selected, hide the collapsible checkout form
                        checkoutDetailsCollapse.hide();
                    } else {
                        document.getElementById('go-to-checkout').classList.remove('disabled');
                    }

                    // Update the status of the current seat in the backend
                    $.ajax({
                        type: 'POST',
                        url: 'update-seat-status',
                        data: { 
                            'reservation-id': document.getElementById('reservation-id').value,
                            'seat-id': event.target.id,
                            'seat-status': event.target.status,
                        },
                    }).done((response) => {
                        // Alert the user if the seat status couldn't be updated
                        if (response != 'ok') {
                            showAlert(false, 'Errore di rete', 'Impossibile aggiornare lo stato del posto selezionato, riprova pi&ugrave; tardi.');
                        }
                    }).fail(() => {
                        // Alert the user if something went wrong during the update
                        showAlert(false, 'Errore di rete', 'Si &egrave; verificato un errore di rete: impossibile contattare il server.');
                    });
                });
            });

            // Create the object that represents the collapsible checkout form
            var checkoutDetails = document.getElementById('checkout-details');
            var checkoutDetailsCollapse = new bootstrap.Collapse(checkoutDetails, {
                toggle: false
            });

            // Show the checkout form only when the buyer has chosen at least one seat
            document.getElementById('go-to-checkout').addEventListener('click', () => {
                document.getElementById('go-to-checkout').classList.add('invisible');
                checkoutDetailsCollapse.show();
            });

            // Move the href to the checkout details section as soon as its transition finishes
            document.getElementById('checkout-details').addEventListener('shown.bs.collapse', () => {
                document.location.href = '#go-to-checkout';
            });

            // Set the text shown when a form field is invalid
            var defaultFeedback = document.querySelectorAll('.default-feedback');
            Array.prototype.slice.call(defaultFeedback).forEach((div) => {
                div.innerHTML = 'Questo campo &egrave; obbligatorio';
            });

            $('#promo-code-form')[0].addEventListener('submit', (event) => {
                if (!event.target.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                event.target.classList.add('was-validated');
            }, false);

            $('#buy-form')[0].addEventListener('submit', (event) => {
                event.preventDefault();
                event.stopPropagation();
                if (event.target.checkValidity()) {
                    $.ajax({
                       type: 'POST',
                       url: $('#buy-form').attr('action'),
                       data: $('#buy-form').serialize()
                    }).done((response) => {
                        if (response == 'ok') {
                            showAlert(true, 'Acquisto completato. Grazie!', 'Acquisto effettuato correttamente.<br>Riceverai un\'e-mail a breve con la ricevuta di prenotazione da presentare all\'ingresso.');
                        } else {
                            showAlert(false, 'Errore durante l\'acquisto', 'Errore durante il completamento dell\'acquisto.');
                        }
                    }).fail(() => {
                        // Alert the user if something went wrong during the request
                        showAlert(false, 'Errore di rete', 'Si &egrave; verificato un errore di rete: impossibile contattare il server.');
                    });
                }
                event.target.classList.add('was-validated');
            }, false);

            function showAlert(success, title, body) {
                $('#modal-alert-component').addClass(success ? 'alert-success' : 'alert-warning');
                $('#modal-alert-icon').addClass(success ? 'fa-check-circle' : 'fa-exclamation-circle');
                $('#modal-alert-label').html(title);
                $('#modal-alert-body').html(body);
                var alert = new bootstrap.Modal($('#modal-alert')[0]);
                alert.show();
            }
        })();
    </script>
}
