@import cinema.controller.Cinema

@args() {
    Cinema cinema
    String pageTitle
}

<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="@(cinema.getName()) | @(pageTitle)">
        <meta name="author" content="Screaming Hairy Armadillo Team">
        <link rel="icon" type="image/png" href="@(cinema.getLogoURL())">

        <title>
            @(cinema.getName()) - @(pageTitle)
        </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="d-flex flex-column min-vh-100" style="overflow-x: hidden;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Barra di navigazione">
            <div class="container">
                <a class="navbar-brand" href="/#">
                    @(cinema.getName())
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="Barra di navigazione" aria-expanded="false" aria-label="Espandi la barra di navigazione">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/#">
                                Home
                            </a>
                        </li>
                    </ul>
                    <form action="/#search-results" method="get" novalidate>
                        <div class="input-group">
                            <input class="form-control" type="text" id="query" name="query" value="" placeholder="Cosa guardi oggi?" aria-label="Cosa guardi oggi?" size="40" required>
                            <button class="btn btn-outline-secondary" type="submit" id="submit-query" disabled>
                                Cerca
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <main class="flex-shrink-0">
            @render(content)
        </main>

        <footer class="footer mt-auto bg-dark text-light py-5">
            <div class="container">
                <p class="float-end">
                    <a href="#" class="text-light">
                        Torna all'inizio
                    </a>
                </p>
                <p class="mb-1">
                    @(cinema.getLocation())
                </p>
                <p class="mb-1">
                    <a href="mailto:@(cinema.getEmail())" class="text-light">
                        @(cinema.getEmail())
                    </a>
                </p>
                <p class="mt-3 mb-1">
                    <small class="text-warning">
                        @(cinema.getName()) &egrave; un prodotto &copy; 2021 Screaming Hairy Armadillo Team
                    </small>
                </p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <script>
            $(window).on('load', function() {
                'use strict';

                // Enable the search button only if the search field is filled up
                $('#query')[0].addEventListener('input', function() {
                    $('#submit-query')[0].disabled = (this.value.trim() == '');
                });
            });
        </script>

        @render(javascript)

    </body>
</html>
